@font-face {
  font-family: "Libre Baskerville";
  src: local("LibreBaskerville-Regular"),
    url("../../fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Libre Baskerville";
  src: local("LibreBaskerville-Bold"),
    url("../../fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
}
