
/*--------------- SLIDESHOW ---------------*/

.slideshow {
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-bottom: 0;

  &__container {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    background-color: #fff;

    .painting-info {

      h3 {
        @include heading3;
        font-size: 14px;
      }

      h4 {
        @include subhead1;
        font-size: 10px;
        opacity: .75;
      }
    }

    .buttons-slider {
      display: flex;
      justify-content: space-between;
      width: 70px;
    }
  }
}

.slideshow::after {
  position: fixed;
  bottom: 73px;
  content: "";
  width: 100%;
  border: 1px solid $gray-light-90;
}

.progress-bar {
  position: fixed;
  bottom: 73px;
  left: 0;
  z-index: 99;
  width: calc(100% / 15);
  border: 1px solid #000;
}

/*--------------- PAINTING PAGE ---------------*/

.painting-page {
  display: inline-block;
  width: 100%;
  margin-bottom: 67px;
  transition: transform 0.5s;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    height: fit-content;
    
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__label {
    position: relative;
    margin-top: -20%;

    
    .painting-info {
      box-sizing: border-box;
      width: 280px;
      padding: 24px;
      text-align: left;
      background-color: $light;

      h1 {
        @include heading2;
        margin-bottom: 8px;
        white-space: pre-wrap
      }

      h2 {
        @include subhead1;
        color: $gray-dark;
      }
    }

    .artist-image {
      width: 64px;
      margin-left: 16px;

      img {
        width: 100%;
      }
    }
  }

  &__description {
    margin-top: -50px;
    text-align: left;

    .painting-year {
      display: inline-block;
      width: 100%;
      @include display;
      font-size: 95px;
      color: $gray-light-95;
      text-align: right;
    }

    .painting-description {
      width: 100%;
      margin-top: -52px;
      margin-bottom: 40px;
      @include body;
      color: $gray-dark;
      white-space: pre-wrap;
    }

    .painting-link-go-to-source {
      @include link2;
      text-decoration: underline;
      text-decoration-color: $gray-dark;
    }
  }
}

/*------------------------ IMAGE GALLERY ---------------------------*/

.image-gallery {
  position: fixed;
  top: 50%;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  transform: translateY(-50%);
  object-fit: scale-down;
  z-index: 98;
  
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    height: 100%;
    margin: 0 auto;
  
    img {
      width: 90%;
      max-width: fit-content;
    }
  
    .btn-container {
      width: 90%;
      text-align: right;


      .btn-close {
        padding: 0;
        margin-bottom: 33px;
        @include link1;
        color: #fff; 
        text-transform: uppercase;
        background-color: transparent;
        border: none;
      }
    }

  }
}


